<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>

<nav>
    <div class="wrapper">
        <p class="logo-placeholder">
            shoe[shop]
        </p>
        <ul>
            <li><a href="index.html">main</a></li>
            <li><a href="user.html">user</a></li>
            <li><a href="size.html">size</a></li>
            <li><a href="category.html" class="active">category</a></li>
            <li><a href="brand.html">brand</a></li>
            <li><a href="gender.html">gender</a></li>
            <li><a href="color.html">color</a></li>
            <li><a href="login.html">login</a></li>
        </ul>
    </div>
</nav>

<section class="entity-create">
    <div class="wrapper">
        <form class="entity-create-card"
              hx-target="#categories"
              hx-post="/category"
              hx-ext="json-enc"
        >
            <input name="name" placeholder="name" required>
            <button type="submit">Create Category</button>
        </form>
    </div>
</section>

<section>
    <div class="wrapper">
        <table class="crud-table">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </thead>
            <tbody id="categories" hx-get="/category" hx-trigger="load"></tbody>
        </table>
    </div>
</section>

</body>
</html>
