<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>

<nav>
    <div class="wrapper">
        <p class="logo-placeholder">
            shoe[shop]
        </p>
        <ul>
            <li><a href="index.html">main</a></li>
            <li><a href="user.html" class="active">user</a></li>
            <li><a href="login.html">login</a></li>
        </ul>
    </div>
</nav>

<section class="user-create">
    <div class="wrapper">
        <form class="user-create-card" hx-target="#users" hx-post="/user" hx-ext="json-enc">
            <input type="email" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="password" required>
            <input type="date" name="birth_date" placeholder="date of birth" required>

            <button type="submit">Create User</button>
        </form>
    </div>
</section>

<section class="user-crud">
    <div class="wrapper">
        <table class="crud-table">
            <thead>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th>Birth Date</th>
                <th>Access</th>
                <th>Actions</th>
            </thead>
            <tbody id="users" hx-get="/user" hx-trigger="load"></tbody>
        </table>
    </div>
</section>

</body>
</html>
