.login {
    display: flex;
    align-items: center;
}

.login-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 240px;
    border: 2px solid #888;
    border-radius: 8px;
    padding: 20px;
}

.login-card input {
    padding: 10px;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
}

.login-card input::placeholder {
    color: #bbb;
}

.login-card button {
    padding: 10px;
}

.logout {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}