.size-create {
    display: flex;
    align-items: center;
}

.size-create-card {
    display: flex;
    gap: 10px;
    border: 2px solid #888;
    border-radius: 8px;
    padding: 20px;
}

.size-create-card input {
    padding: 10px;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
}

.size-create-card input::placeholder {
    color: #bbb;
}

.size-create-card button {
    padding: 10px;
}
